.steppe {
	font-family: "Steppe", Helvetica, sans-serif;
}
.f_11 {
	font-size: 11px;
}
.col_center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.new_year .orange {
	color: #ff9729;
}
.col_center_right {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	align-items: flex-end;
	justify-content: center;
}
.col_center.left {
	align-items: flex-start;
}

.btn_new {
	display: flex;
	border-bottom: 2px solid #e68722;
	align-items: center;
	cursor: pointer;
}
 
.btn_new i {
	margin-right: 4px;
	font-size: 10px;
}

.main_banner {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.main_banner .background {
	height: inherit;
	position: absolute;
	top: 0px;
	z-index: -2;
}

.main_banner .background .right {
	background-color: rgb(238, 89, 89);
}

.sky_stars {
  background: no-repeat url(/static/img/sky-stars.jpeg);
  background-position: bottom;
  background-size: cover;
  position: relative;
  height: inherit;
  z-index: 0;
}

.sweater {
	background: no-repeat url(/static/img/background_sw.jpg);
	background-position: bottom;
	background-size: cover;
	position: relative;
	height: inherit;
	z-index: 0;
}
.left_banner_wrapper .name_Mo {
	font-size: 24px;
}
.left_banner_content .mail {
	font-size: 18px;
}

.left_banner_wrapper {
  background-color: #2F2F2F;
  position: relative;
  height: 200px;
}

.left_banner_wrapper .triangle {
  position: absolute;
  min-height: 200px;
  color: #fff;
  width: 100px;
  z-index: -2;
  right: -100px;
  top: 0px;
}

.left_banner_wrapper .triangle:after {
  content: '';
/*   width: 100%; */
  height: 100%;
  position: absolute;
  background: inherit;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  z-index: -1;
  transform-origin: left bottom;
  transform: skewY(-72deg);
}

.left_banner_wrapper .rectangle {
  position: absolute;
  bottom: 0px;
  right: -80px;
  z-index: -2;
}

.left_banner_wrapper .rectangle > svg {
  margin-left: -40px;
}

.left_banner_wrapper .img_moriarty {
	position: absolute;
	bottom: 0px;
	right: -120px;
	height: 175px;
	z-index: -1;
}

.left_banner_wrapper .left_banner_content {
	height: inherit;
	padding-right: 160px;
}
.left_banner_wrapper .left_banner_content .date {
	background-color: #e68722;
	padding: 3px 8px 3px 10px;
	border-radius: 20px 0px 0px 20px;
	height: fit-content;
	margin-right: 6px;
	font-size: 10px;
}

.right_banner_wrapper {
 padding-left: 100px;
}
.right_banner_wrapper .jackpot {
	height: 100%;
}
.right_banner_wrapper .strip_gradient {
	height: 2px;
   width: 70px;
}
.right_banner_wrapper .strip_gradient.left {
	background: linear-gradient(270deg, #fff, #ffffff00);
}
.right_banner_wrapper .strip_gradient.right {
	background: linear-gradient(270deg, #ffffff00, #fff);
}

.right_banner_wrapper .date {
	color: #A30006;
	background-color: #fff;
	padding: 3px 8px 3px 10px;
	border-radius: 0px 20px 20px 0px;
	height: fit-content;
	margin-top: 4px;
}
.right_banner_wrapper .doubling {
	padding-left: 20px;
}
.right_banner_wrapper a {
	color: #fff;
}
.right_banner_wrapper a:hover {
	text-shadow: 0 0 10px #ffffff99;
}

.ny_card_wr {
	padding: 0px 20px;
}
.ny_card_1, .ny_card_2, .ny_card_3 {
	border-radius: 20px;
	height: 490px;
	padding: 30px;
	box-shadow: 0px 10px 30px #00000017;
	overflow: hidden;
	/* border-bottom: 40px solid #FF9600; */
	margin-top: 30px;
}
.ny_card:hover {
	box-shadow: 0px 10px 30px #ff960070;
}

.ny_card {
	position: relative;
	cursor: pointer;
}
.ny_card_1 .numbers {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 100%;
	left: 0px;
	z-index: -1;
}
.ny_card_1 .gift {
	position: absolute;
	bottom: 40%;
	left: 50%;
	transform: translate(-51%, 50%);
	height: 50%;
}
.ny_card .btnn {
	position: absolute;
	bottom: 0px;
	left: 0px;
	display: flex;
	background-color: #FF9600;
	width: 100%;
	height: 38px;
	align-items: center;
	align-content: center;
	justify-content: center;
	color: #fff;
}

.ny_card_2 .mor {
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translate(-51%, -38px);
	height: 60%;
}

.ny_card_3 .numbers {
	position: absolute;
	bottom: 40%;
	left: 50%;
	transform: translate(-51%, 50%);
	width: 100%;
}
.branch {
	position: absolute;
	top: 0px;
	z-index: -2;
  width: 300px;
}
.branch.top_left {
  left: 0px;
}
.branch.top_right {
  right: 0px;
}
.description {
  background-color: #EFEFEF;
  font-size: 16px;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  box-shadow: 0px 0px 30px #d6d6d6;
  z-index: 99;
}
.description_contant {
  margin: 20px auto;
  padding: 50px 60px;

}
.description_contant .title {
  font-size: 40px;
  line-height: 22px;
}

.description .date {
	font-size: 26px;
	font-weight: 400;
	border: 1px solid #FF9600;
	border-radius: 20px;
	width: fit-content;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	padding: 10px 30px;
}
.close_description {
	font-size: 50px;
	position: absolute;
	top: 10px;
	right: 20px;
	transform: rotate(45deg);
	font-weight: 100;
	cursor: pointer;
}
.close_description:hover {
  text-shadow: 0px 0px 10px #ff9600;
}

.cities .icon {
 margin-right: 8px;
}

.garland {
  position: absolute;
    top: -65px;
    left: -540px;
}

.message_to_Mo textarea {
  border: 2px solid #ff9600;
  width: 100%;
  min-height: 300px;
  padding: 20px;
}
.message_to_Mo textarea::placeholder{
  white-space: pre-wrap;
  position: absolute;
  top: 20px;
  font-size: 14px;
  color: #222;
  letter-spacing: 1px;
}
 

.btn_new[noactive] {
	border-bottom: 2px solid #ccc;
	color: #ccc;
}

.btn_new {
	display: flex;
	align-items: center;
	cursor: pointer;
  border-bottom: 2px solid #e68722;
	color: #222;

}

.btn_new i {
  margin-right: 4px;
  font-size: 10px;
}

.jackpot_number {
  font-size: 48px;
  line-height: 60px;
  text-shadow: 0 0 10px #ffffff99;
}
.jackpot_title {
  font-size: 24px;
}
.desctop_hidden {
  display: none;
}
.new_year h1 {
  margin-top: 60px;
}
.f_18 {
	font-size: 18px;
}

@media screen and (max-width:690px) {
		.right_banner_wrapper {
    padding-left: 0px;
	}
  .mobile_hidden {
    display: none;
  }
  .desctop_hidden {
    display: block;
  }
  .right_banner_wrapper {
    padding-left: 0px;
  }
  .jackpot_number {
    font-size: 46px;
    margin-bottom: -10px;
  }
  .jackpot_title {
    font-size: 18px;
  }
  .right_banner_wrapper .jackpot {
    height: 150px;
    margin-top: 10px;
  }
  .doubling {
    border-top: 1px solid #fff;
    padding-top: 10px;
  }
  .doubling .date {
    border-radius: 20px 20px 20px 20px;
    width: fit-content;
  }
  .main_banner {
    height: 240px;
  }
  .new_year h1 {
    font-size: 24px;
    margin-top: 40px;
  }
  .new_year h4 {
    font-size: 14px;
  }
  .description_contant {
    padding: 40px 20px;
  }
  .garland img {
    width: 90%;
  }
  .description_contant .title {
    margin-bottom: 20px;
  }

}
@media screen and (max-width:960px) {
	.left_banner_wrapper .left_banner_content {
    height: inherit;
    padding-right: 140px;
	}
	.right_banner_wrapper {
    padding-left: 40px;
	}
}
@media screen and (min-width:960px) {
	.background .sky_stars {
		display: block;
	}
	.jackpot_number {
		font-size: 38px;
	}
	.jackpot_title {
		font-size: 16px;
	}
	.left_banner_wrapper .name_Mo {
		font-size: 22px
	}
	.left_banner_content .mail {
		font-size: 18px;
	}
	.left_banner_wrapper .left_banner_content .date {
    font-size: 10px;
	}
	.f_11 {
		font-size: 10px;
	}
	.f_18 {
		font-size: 18px;
	}
	.left_banner_wrapper .left_banner_content {
    height: inherit;
    padding-right: 90px;
}

}
@media screen and (min-width:1000px) {
	.left_banner_wrapper .left_banner_content {
    height: inherit;
    padding-right: 120px;
}
}
@media screen and (min-width:1200px) {
	.jackpot_number {
		font-size: 62px;
	}
	.jackpot_title {
		font-size: 33px;
	}
	.left_banner_wrapper .name_Mo {
		font-size: 33px
	}
	.left_banner_content .mail {
		font-size: 27px;
	}
	.left_banner_wrapper .left_banner_content .date {
    font-size: 13px;
	}
	.f_11 {
		font-size: 14px;
	}
	.f_18 {
		font-size: 24px;
	}
	.left_banner_wrapper .left_banner_content {
    height: inherit;
    padding-right: 160px;
	}

}
@media screen and (max-width:690px) {
	.right_banner_wrapper {
    padding-left: 0px;
	}
}

