.bg_light {
  background-color: #f9f9f9;
}

.icon_field {
  position: absolute;
  right: 0px;
  z-index: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: flex-end;
}
.icon_field .caret_down {
  cursor: pointer;
  opacity: 0.3;
}

.icon_field:hover .caret_down {
  color: #E68722;
  opacity: 1;
}
.sorting .icon.caret_down {
  position: absolute;
  bottom: 50%;
  right: 0px;
  transform: translate(-50%,50%);
  z-index: 0;
  /* opacity: 0.5; */
}
.box_sh {
  box-shadow: 0px 0px 7px #f0f0f0;
}
.link {
  cursor: pointer;
}
.link i {
  margin-left: 6px;
}

.carts_grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 20px;
}

.carts_grid > div {
  padding-right: 10px;
  padding-left: 10px;
}

.input_grey {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #555;
  background-color: #f5f5f5;
  /* background-image: none; */
  border: 1px solid #f5f5f5;
  border-radius: 4px;
}

label.row_sb {
  cursor: pointer;
  user-select: none;
}

.checkbox_wr {
  font-family: system-ui, sans-serif;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  /* gap: 0.5em; */
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  /* background-color: rgb(255, 255, 255); */
  margin: 0;
  font: inherit;
  color: #E68722;
  width: 16px;
  height: 16px;
  border: 0.15em solid #ccc;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  cursor: pointer;
}
input[type="checkbox"]::before {
  content: "";
  width: 14px;
  height: 14px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--checkbox_wr-color);
  background-color: #E68722;
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--form-background);
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 16px;
  height: 16px;
  border: 1px solid currentColor;
  border-radius: 50%;
  transform: translateY(2px);
  border: 0.15em solid #ccc;
  display: grid;
  place-content: center;
  cursor: pointer;
}

input[type="radio"]::before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: #E68722;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

.title_s {
  font-size: 12px;
  color: #93959e;
}

.maincart .icon_check_wrapper {
  width: 12px;
  height: 12px;
  border-radius: 1px;
  background-color: #EBEBEB;
}
.maincart i.check {
  display: inline-block;
  width: 4px;
  height: 6px;
  margin: -3px 4px 5px 4px;
  border: solid #ccc;
  border-width: 0rem 0.1rem 0.1rem 0rem;
  transform: rotate( 42deg);
}
.maincart .shop_deal .trust, .moment, .preorder {
  opacity: 0.5;
}
.maincart .shop_deal .trust[active], .moment[active], .preorder[active] {
  opacity: 1;
}
.maincart .shop_deal .trust[active] .icon_check_wrapper {
  background-color: #FCCCA8;
}
.maincart .shop_deal .trust[active] .icon_check_wrapper i.check {
  border-color: #F37F00;
}
.maincart .shop_deal .moment[active] .icon_check_wrapper {
  background-color: #B0E2C4;
}
.maincart .shop_deal .moment[active] .icon_check_wrapper i.check {
  border-color: #06B869;
}
.maincart .shop_deal .preorder[active] .icon_check_wrapper {
  background-color: #AED5FB;
}
.maincart .shop_deal .preorder[active] .icon_check_wrapper i.check {
  border-color: #2196F3;
}

.cart {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.25rem;
  padding: 12px 16px;
}

.field_new {
  display: block;
  width: 100%;
  height: 34px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #555;
  background-color: #f9f9f9;
  background-image: none;
  border: 1px solid #f9f9f9;
  border-bottom: 1px solid #ccc;
  border-radius: 2px;
  appearance: none;
}
.maincart .cart:hover {
  box-shadow: 0px 0px 7px #f0f0f0;
}
.sorting {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -10px;
  margin-right: 15px;
}
.sorting select {
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: inherit;

}

.dd_list {
  position: absolute;
  top: 40px;
  left: 0px;
  z-index: 99;
  background-color: #fff;
  width: 100%;
  box-shadow: 0px 0px 7px #f0f0f0;
  border-radius: 0px 0px 4px 4px;
  max-height: 600px;
  height: max-content;
}

.dd_list > div {
  margin: 8px 15px;
  cursor: pointer;
}

.dd_list > div:hover {
  color: #E68722;
}

.search_btn {
  display: flex;
  align-items: center;
  color: white !important;
  font-weight: 600 !important;
  cursor: pointer;
}
.search_btn:before {
  display: none;
}
.search_btn .fa {
  padding-top: 0 !important;
  margin-right: 4px;
  font-size: 10px;
}

.maincart .product_name {
  color:#333;
  margin-top: 6px;
}


.maincart.loading .image-loading-placeholder {
  width: 100%;
  padding-bottom: 100%;
  background: lightgray;
}
.maincart.loading div.loading-placeholder {
  height: 13px;
  margin-top: 6px;
  border-radius: 5px;
  background: lightgray;
}
.maincart.loading small.loading-placeholder {
  display: block;
  width: 60%;
  height: 10px;
  margin-top: 5px;
  border-radius: 5px;
  background: lightgray;
}
.maincart.loading .product_name.loading-placeholder {
  margin-top: 10px;
}
.maincart.loading .shop_deal .loading-placeholder {
  margin-top: 0;
}
.maincart.loading .shop_deal .row_sb {
  margin: 5px 0;
}
.maincart.loading .cart {
  padding: 7px 16px 11px;
}
.loading-placeholder, .image-loading-placeholder {
  position: relative;
  overflow: hidden;
}
.loading-placeholder .activity, .image-loading-placeholder .activity {
  position: absolute;
  left: -45%;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to left, rgba(251,251,251, .05), rgba(251,251,251, .3), rgba(251,251,251, .6), rgba(251,251,251, .3), rgba(251,251,251, .05));
  background-image: -moz-linear-gradient(to left, rgba(251,251,251, .05), rgba(251,251,251, .3), rgba(251,251,251, .6), rgba(251,251,251, .3), rgba(251,251,251, .05));
  background-image: -webkit-linear-gradient(to left, rgba(251,251,251, .05), rgba(251,251,251, .3), rgba(251,251,251, .6), rgba(251,251,251, .3), rgba(251,251,251, .05));
  animation: loading 0.7s infinite;
}

@keyframes loading {
  0%{
    left: -45%;
  }
  100%{
    left: 100%;
  }
}

.load-more-button-container {
  padding: 30px 0 30px 20px;
  text-align: center;
}

.load-more-button-container a.btn {
  color: white !important;
  height: auto !important;
  padding: 16px;
  font-size: 14px !important;
}


.carts_grid {
  padding-left: 0;
}

.search_page .mobile_filters_panel {
  display: none;
}

@media screen and (min-width:960px) {
  .carts_grid {
    padding-left: 20px;
  }
  .search_page .mobile_filters_buttons {
    display: none;
  }
  .mobile_filters_bottom_padding {
    display: none;
  }
}

@media screen and (max-width: 959px) {
  .search_page .main_filter {
    display: none;
  }
  .load-more-button-container {
    padding: 30px 0;
  }
  .search_page.mobile_filters_open .main_filter {
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: white;
    padding: 10px;
  }
  .search_page.mobile_filters_open .main_filter .main_filter_body a.btn {
    display: none;
  }
  .search_page.mobile_filters_open .mobile_filters_panel {
    display: block;
    background: white;
    box-shadow: 0px 0px 7px #e0e0e0;
    width: 100%;
    position: fixed;
    z-index: 20;
    top: 50px;
    left: 0;
  }
  .search_page.mobile_filters_open .mobile_filters_panel .mobile_filters_panel_body {
    max-width: 750px;
    width: 100%;
    height: 72px;
    margin: auto;
    padding: 20px 10px;
  }
  .mobile_filters_bottom_padding {
    display: block;
    height: 20px;
  }
  .search_page.mobile_filters_open .mobile_filters_panel .cancel_btn {
    margin-top: 10px;
  }
  .search_page.mobile_filters_open .main_filter .main_filter_body .field_new,
  .search_page.mobile_filters_open .main_filter .main_filter_body .choices__inner {
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
  }
  .search_page.mobile_filters_open .main_filter .main_filter_body {
    max-width: 750px;
    width: 100%;
    height: 100%;
    margin: auto;
    padding-top: 90px;
  }
  .search_page .main_filter .main_filter_body input[type=checkbox],
  .search_page .main_filter .main_filter_body input[type=radio]{
    margin: 5px 0;
  }
  .search_page.mobile_filters_open .mobile_filters_buttons a {
    display: none;
  }
  .search_page .mobile_filters_buttons a {
    color: white;
    display: block;
    padding: 10px 15px;
    background: #f0ad4e;
    border-radius: 4px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .search_page.mobile_filters_open .carts_grid {
    display: none;
  }
}
.btn_new:disabled, .btn_new[disabled] {
  color: gray;
  border-bottom-color: gray;
}

.jumbotron .choices__inner {
  height: 34px;
  min-height: 34px;
  border: 1px solid #ccc;
  padding: 0;
  font-size: 13px;
  color: #555;
}
.jumbotron .choices__item {
  padding: 2px 16px 4px 7px;
}
.jumbotron .choices__list {
  overflow-x: hidden;
  z-index: 15 !important;
}
.btn_new:disabled, .btn_new[disabled] {
  color: gray;
  border-bottom-color: gray;
}
